Flask==2.2.5
Werkzeug==2.3.8
Flask-Compress==1.23
Flask-Cors==6.0.1
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
eventlet==0.40.3
cloudinary==1.44.1
gunicorn==22.0.0
python-dotenv==0.21.0
psycopg2-binary==2.9.11
gspread==6.2.1
requests==2.31.0
whitenoise==6.11.0
